<ion-content [fullscreen]="true" class="login-page">
  <div class="login-container">
    <div class="auth-header">
      <img src="assets/img/patin_logo.png" alt="Repertório" class="auth-logo">
      <div class="subtitle">Seu diário de séries e filmes</div>
    </div>

    <form (submit)="autenticarUsuario()">
      <ion-list>
        <ion-item class="login-field">
          <ion-label position="floating">Usuário</ion-label>
          <ion-input type="text" [(ngModel)]="instancia.username" name="username" required></ion-input>
        </ion-item>

        <ion-item class="login-field">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="instancia.password" name="password" required></ion-input>
        </ion-item>

        <div style="margin-top:18px; display:flex; gap:10px; justify-content:flex-end;">
          <ion-button type="submit" class="cta-button" color="primary">Autenticar</ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>